.navbar-brand
{
    color:rgb(92,98,112)!important;
    font-weight:600!important;
}
.navbar{
    background-color:rgb(250,250,250)!important;
    
}
.nav-link
{
    color:rgb(82,85,94)!important;
    font-weight:500!important;
}